body{
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1661227623899303330/141469832E0A040ABAB43122013AC1EDF0A4E5E7/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	

 }