body{
	background-image: url(https://www9.lunapic.com/do-not-link-here-use-hosting-instead/163836514253176095?165490);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	
	

 }
 *{
 	text-align:center ;
 }
ul,ol{
 	font-size: 25px;
 }